@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem  rgba(0 0 0 / 29%);
    position: relative;
    padding: 0.3rem;
    z-index: 1000;
}
header i{
    position: absolute;
    left: 1rem;
    top: 45%;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}
img{
    width: 100%;
    object-fit: cover;
    height: 238px;
}

/*****HEART******/

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3;
    font-size: 2rem;
    cursor: pointer;
}
.container>.fas{
    opacity: 0;
    transition-duration: 1s;
    background: -webkit-gradient(linear, left top, left bottom,from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fas:hover{
    opacity: 1;
}
div>i{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}


/**MENU**/

.menu_container{
    background-color: #f6f6f6;
    overflow: hidden;
    position: relative;
    border-radius: 35px;
    top: -30px;
    height: 1500px;
}
@media (min-width:1024px){

    img{
        height: 400px;
    }

    .menu{
        grid-template-columns: repeat(3,1fr);
    }
    .menu_container{
        height: inherit;
    }
    button{
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
.title{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    overflow: hidden;
}
.title h2{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    margin-left: 10px;
    width: 100%;
}
.title i{
    margin-right: 30px;
    width: 3rem;
}
.menu{
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
}
.submenu{
    display: grid;
    grid-gap: 1rem;
    
}
.menu_entree{
    border-bottom: 5px solid #99e2d0;
    width: 10%;
    text-transform: uppercase;
}
.menu_entree h2{
    font-weight: lighter;
}
.menuitem{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 90px;
    box-shadow: 0 0 10px 0 #0000002e;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    animation: appear .6s;
    animation-fill-mode: both;
}
.menuitem:hover{
    transform: scale(1.02);
}
.price{
    font-weight: 800;
    max-width: 100%;
    margin-right: 2rem;
}

.menuitem:hover .icon{
    transition-duration: 0.5s;
    transition-timing-function: ease;
    margin-right: 0;
}
.menuitem:hover i{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
.menu_description{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0.5rem;
}
.menu_description p{
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu_description h4{
    overflow: hidden;
    text-overflow: ellipsis;

}
.icon{
    width: 6rem;
    margin-right: -6rem;
    background: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    height: 100%;
    cursor: pointer;
}
.icon i{
    border-radius: 50%;
    color: #99e2d0;
    background: white;
    padding: 0.5rem;
    transition-duration: 0.6s;
}

button{
    width: 50%;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 1rem;
    font-size: 20px;
    box-shadow: 0 0 10px 0 #0000002e;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9) );
}
.button_{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button:hover{
    transform: scale(1.02);
    opacity: 0.8;
    box-shadow: 2px 2px 2px 2px #0000002e;
}

/**ANIMATIONS**/

@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.delay1{
    animation-delay: 0s;
}
.delay2{
    animation-delay: 100ms;
}
.delay3{
    animation-delay: 200ms;
}
.delay4{
    animation-delay: 300ms;
}
.delay5{
    animation-delay: 400ms;
}
.delay6{
    animation-delay: 500ms;
}
.delay7{
    animation-delay: 600ms;
}
.delay8{
    animation-delay: 700ms;
}
.delay9{
    animation-delay: 800ms;
}
.delay10{
    animation-delay: 900ms;
}


/**FOOTER**/

footer{
    background-color: #353535;
    padding: 1rem;
}

footer h2{
    font-family: 'Shrikhand', cursive;
    color: white;
}
footer p{
    color: white;
    width: fit-content;
}
footer p a{
    color: white;
    text-decoration: none;
}
footer p:hover{
    border-bottom: 1px solid white;
}
